.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
  }

.container {
    width: 70rem;
}

#cyntexaLogo {
    margin-top: 50px;
    margin-right: 80px;
}

#potentialBlock {
    background-color:lightblue; 
    text-wrap:wrap; 
    width:25rem;
    padding: 25px;
    font-family:sans-serif;
    border-radius: 10px;
}

@page {
    size: A4;
    margin: minimum;
}